<div class='main'>
  <div class='new-number'>
<div class='new-number-row'>
    <div class="number-create">
      <%= "番号が発行されました"%>
    </div>
    <div class="create-name">
      <%="#{@turn.name}様の番号は#{@turn.number}番です"%>
    </div>
   
    <div class='reload-notification'>
    <%= 'このページは30秒で自動に切り替わります'%>
    </div>
  </div>
</div>
 <div class='qr'>
      <%= @qr %>
    </div>
    </div>
<script>
  const timer = 30000    // ミリ秒で間隔の時間を指定
  window.addEventListener('load',function(){
  setInterval('location.reload()',timer);
  });
</script>