html{
  background-color:#fff;
}

.logout-link {
  text-decoration: none;  /* リンクの下線を消す */
  color: #fff;         /* 文字色を灰色(#dddddd)にする */
}

.logout-link:hover {
  text-decoration: underline;  /* 下線を加える */
  color: blue;                 /* 文字色を青色にする */
}

.main{
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }

 
 .left{
   width: 600px;
   height: 600px;
   border-radius: 10px; 
   background-color: rgba(211, 211, 211, 0.5);
   border: 1px solid;
   border-radius: 10px; 
 }

 .left-row{
  height: 60px;
  width: 100%;
  font-size: 45px;
  background-color: rgba(192, 189, 189, 0.5);
  border-radius: 10px 10px 0px 0px ; 
 }

 .now{
  height: 360px;
  width: 100%;
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
 
 }

 .now2{
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .now-number1{
   font-size: 300px;
 }

 .now-number2{
  font-size: 100px;
 }

 .now-wait{
  font-size: 50px;
  display: flex;
  align-items: center;
  padding-top: 110px;
  flex-flow: column;
 }

 .now-name{
  height: 60px;
  width: 100%;
  padding-top: 30px;
  display: flex;
  
}


.now-name-row{
  font-size: 50px;
  margin: 0 0 0 auto;
 }

 
 .count{
  height: 60px;
  width: 100%;
  background-color:rgba(255, 192, 203, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  border-radius: 0px 0px 10px 10px; 
 
 }

 .count-num{
  font-size: 25px;
}
.num{
  font-size: 40px;
}


.right{
  width: 320px;
  height: 600px;
 }
 
 .link-area{
  width: 308px;
  height: 74px;
  margin: 0px 0px 6px 10px;
  background-color: rgba(255, 166, 0, 0.5);
  border:1px solid;
  border-radius: 10px;
}

.admin-link, .issue-link, .login-link{
  padding-top: 8px;
  font-size: 40px;
  color:black;
  text-decoration: none;
  display: flex;
  justify-content: center; 
}


 .right-row{
   height: 520px;
   display: flex;
 }

 .table{
  width: 50%;
  margin: 0px 0px 0px 10px;
  background-color: rgba(176, 224, 230, 0.5);
  border: 1px solid;
  border-color:black;
  border-radius: 10px; 
  overflow:scroll;
 }

.table::-webkit-scrollbar {
  display:none;
}

.th{
  height: 40px;
  margin-bottom: 2px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(173, 216, 230, 0.8);
  border-radius: 1px 1px 1px 1px; 
}

.tr{
  padding: 1px 0px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  font-size: 20px;
}

.td1{
  padding: 0px 10px;
  font-size: 20px;
  background-color: rgba(146, 241, 146, 0.836);
  border-radius: 5px; 
}

a{
  color:black;
  text-decoration: none;
}

.btn{
  display: flex;
  justify-content: center;
}



.kari{
  display: flex;
  justify-content: center;
  margin-top: 2px;
  font-size: 0px;
  background-color: rgba(173, 216, 230, 0.8);
  border-radius: 10px; 
}

.issue{
  display: flex;
  justify-content: center;
  align-items: center;
 }


.login-text{
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.login,.issue{
  width: 350px;
  height: 400px;
  margin: 100px auto 0;
  border-radius: 4px;
  border: 1px #ddd solid;
  background-color: rgb(253, 253, 253);
}

.login-row{
  padding: 20px 26px;
}

h1{
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 10px;
  padding-bottom: 4px;
  color: #111111;
}

.box-name{
  margin: 50px 0px;
}

.box-email {
  margin-bottom: 13px;
}

.box-password {
  margin-bottom: 22px;
}

.box-email label, .box-password label {
  font-weight: 700;
  font-size: 13px;
  padding-left: 2px;
  padding-bottom: 2px;
}

.box-email input[type="email"], .box-password input[type="password"], .box-name input[type="text"] {
  border-style: none;
  box-sizing: border-box;
  width: 100%;
  height: 31px;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
}

.box-login , .box-issue{
  margin-bottom: 26px;
}

.box-login input[type="submit"], .box-issue input[type="submit"]{
  border-style: none;
  width: 100%;
  height: 31px;
  background: linear-gradient(to bottom, lightgray, gray);
  border-radius: 3px;
  border: 1px gray solid;
}

.box-login input[type="submit"]:hover, .box-issue input[type="submit"]:hover {
  cursor: pointer;
  background: gray;
}

.remember {
  font-size: 13px;
  margin-top: 18px;
  padding-left: 3px;
}

.issue-create{
  width: 350px;
  height: 610px;
  margin: 50px auto 0;
  border-radius: 4px;
  border: 1px #ddd solid;
  background-color: rgb(253, 253, 253);
}

.issue-text{
  margin-top: 10px;
  font-size: 30px;
  text-align: center;
}

.issue-num{
  margin: 10px 0px;
  text-align: center;
  font-size: 50px;
  background-color: rgba(255, 166, 0, 0.5);
}

.reload-notification{
  text-align: center;
  color: red;
}

.turn-end{
  width: 500px;
  height: 200px;
  text-align: center;
  margin: 100px auto 0;
  border-radius: 4px;
  border: 1px #ddd solid;
  background-color: rgb(253, 253, 253);
}

.turn-end-row{
  padding-top: 50px;
  font-size: 50px;
}
.show{
  width: 350px;
  height: 700px;
  margin: 0 auto 0;
  border-radius: 4px;
  border: 1px #ddd solid;
  background-color: rgb(245, 245, 245);
}

.user-num{
  text-align: center;
  font-size: 50px;
  border-radius: 4px 4px 0px 0px;
  background-color: rgba(255, 166, 0, 0.5);
}

.show-contents{
  background-color: rgba(211, 211, 211, 0.5);
}

.show-num{
  font-size: 30px; 
}

 .show-number{
   display: flex;
   justify-content: flex-end;
   font-size: 30px;
 }

.qr-position{
  display: flex;
  justify-content: center;
}

.qr{
  height: 275px;
  width: 275px;
  border: 1px solid;
}

.bottom{
  text-align:center;
}
.toppage{
  color: blue;
}
.wait{
 font-size: medium;
}

//adminのview

.link-issue{
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 750px;
  table-layout: fixed;
  color: #000;
}

table th {
  padding: 15px 0;
  border-right: 1px solid #bbb;
  text-align: center;
  font-size: 20px;
}

table tr {
  background-color: #fff;
  padding: 30px;
  border-bottom: 1px solid #bbb;
}

table tr:last-child{
   border-bottom: none
}

table td {
  padding: 0.5em 10px 0.5em 0.5em;
  border-right: 1px solid #bbb;
  text-align: center;
  font-size: 20px;
}

table th:last-child,
table td:last-child{
  border: none;
}

.wait-btn{
  margin-right: 2px;
  color: green;
}

.now-btn{
  margin-right: 2px;
  color: red;
}

.absence-btn{
  margin-right: 2px;
  color: blue;
}